<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <category label="30000">
        <setting label="30001" id="email" type="text" default=""/>
        <setting label="30002" id="password" type="text" option="hidden"  default=""/>
        <setting label="30003" id="debug" type="bool"  default="false"/>
    </category>

</settings>
